body {
    display: flex;               
    flex-direction: column;       
    justify-content: center;      
    align-items: center;          
    min-height: 100vh;            
    margin: 0;                    
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    overflow: hidden;             
}
h1 {
    font-size: 40px;
    color: #000000;
}

.buttons {
    margin-top: 40px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    padding: 15px 40px;
    margin: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

#yes {
    background-color: #ff4d6d;
    color: white;
}

#no {
    background-color: #555;
    color: white;
}
#top-image {
    display: block;           /* чтобы центрировать */
    margin: 50px auto 30px;   /* 50px сверху, auto слева и справа, 30px снизу */

}

