body {
    background: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;                   /* убираем старый margin-top */
    height: 100vh;               /* занимать весь экран */
    display: flex;               /* Flexbox */
    flex-direction: column;      /* элементы сверху вниз */
    justify-content: center;     /* центрируем по вертикали */
    align-items: center;         /* центрируем по горизонтали */
    overflow: hidden;
}

h1 {
    font-size: 60px;
    color: #000000;
    margin: 0;
}

.buttons {
    margin-top: 40px;
    display: flex;
    gap: 20px; /* расстояние между кнопками */
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; /* по вертикали */
    align-items: center;     /* по горизонтали */
    min-height: 100%;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    padding: 15px 40px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}

#yes {
    background-color: #ff4d6d;
    color: white;
}

#no {
    background-color: #555;
    color: white;
}

#top-image {
    display: block;
    margin-bottom: 30px;   
}